<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="/stylesheets/lotto.css" rel="stylesheet" />
    <link href="/stylesheets/output.css" rel="stylesheet" />
  </head>
  <body>
    <header class="masthead d-flex align-items-center py-4 sm:py-0">
      <div class="container px-4 px-lg-5 text-center">
        <h1 class="text-4xl sm:text-5xl">GO TO RICH</h1>
        <h3 class="text-2xl sm:text-3xl">로또 번호 생성기</h3>
      </div>
    </header>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 justify-items-center"
    >
      <button
        id="emotion_btn"
        class="choose-button row-start-1 col-start-1 col-end-2"
      >
        기분에 따라 번호 받기
      </button>
      <button
        id="dream_btn"
        class="choose-button row-start-1 col-start-2 col-end-3"
      >
        꿈 내용으로 번호 받기
      </button>
    </div>
    <section class="py-10 sm:py-20" id="emotions">
      <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center pb-4">
          <h2 class="text-3xl sm:text-4xl">현재의 기분은..?</h2>
        </div>
        <div
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 justify-items-center"
          id="emotionList"
        >
          <button class="emotion-button row-start-1 col-start-1 col-end-2">
            기쁨
          </button>
          <button class="emotion-button row-start-2 col-start-1 col-end-2">
            슬픔
          </button>
          <button class="emotion-button row-start-3 col-start-1 col-end-2">
            졸림
          </button>
          <button class="emotion-button row-start-1 col-start-2 col-end-3">
            우울함
          </button>
          <button class="emotion-button row-start-2 col-start-2 col-end-3">
            배고픔
          </button>
          <button class="emotion-button row-start-3 col-start-2 col-end-3">
            흥분됨
          </button>
          <button class="emotion-button row-start-1 col-start-3 col-end-4">
            무기력함
          </button>
          <button class="emotion-button row-start-2 col-start-3 col-end-4">
            애매모호
          </button>
          <button class="emotion-button row-start-3 col-start-3 col-end-4">
            붕뜬느낌
          </button>
          <button class="emotion-button row-start-1 col-start-4 col-end-5">
            허무함
          </button>
          <button class="emotion-button row-start-2 col-start-4 col-end-5">
            재밌음
          </button>
          <button class="emotion-button row-start-3 col-start-4 col-end-5">
            긴장됨
          </button>
          <button class="emotion-button row-start-1 col-start-5 col-end-6">
            아무생각없음
          </button>
          <button class="emotion-button row-start-2 col-start-5 col-end-6">
            싱숭생숭함
          </button>
          <button class="emotion-button row-start-3 col-start-5 col-end-6">
            열정넘침
          </button>
        </div>
        <div
          class="flex justify-center flex-wrap text-center mt-4 border border-gray-200 p-4 rounded-md"
          id="emotionResult"
        ></div>
        <div class="text-center pt-2">
          <button
            id="createLotto"
            class="px-4 sm:px-6 py-2.5 sm:py-3.5 text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm sm:text-base px-5 py-2.5 text-center me-2 mb-2 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900"
            onclick="recommendNum()"
          >
            번호받기
          </button>
        </div>
      </div>
    </section>

    <section class="py-10 sm:py-20" id="dreams">
      <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center pb-4">
          <h2 class="text-3xl sm:text-4xl">무슨 꿈을 꾸었나요?</h2>
        </div>

        <div
          class="flex justify-center flex-wrap text-center mt-4 border border-gray-200 p-4 rounded-md"
          id="dreamResult"
        >
          <input type="text" id="dreamContent" value="" />
        </div>
        <div class="text-center pt-2">
          <button
            id="createLotto"
            class="px-4 sm:px-6 py-2.5 sm:py-3.5 text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm sm:text-base px-5 py-2.5 text-center me-2 mb-2 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900"
            onclick="recommendDreamNum()"
          >
            번호받기
          </button>
        </div>
      </div>
    </section>

    <section class="content-section pb-10 sm:pb-0" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center pb-4">
          <h3 class="text-3xl sm:text-4xl">good luck!</h3>
          <h2 class="text-blue-400">LOTTO NUMBER</h2>
        </div>
        <div class="row gx-0" id="listId">
          <!-- Lotto numbers will be added here -->
        </div>
      </div>
    </section>
    <!-- Emotion Buttons -->

    <section class="content-section" id="map">
      <div class="pt-60 container">
        <div class="content-section-heading text-center">
          <h2 class="text-2xl">1등 되세요!</h2>
        </div>
      </div>
    </section>
    <!-- Map-->
    <!-- <section class="content-section" id="map">
        <div class="pt-60 container">
            <div class="content-section-heading text-center">
                <h2 class="text-2xl">당첨금 수령 장소</h2>
            </div>
        </div>
    </section>-->
    <div class="map" id="contact">
      <div id="map" style="width: 100%; height: 400px"></div>
    </div>
    <div id="loading">
      <img
        id="loading-image"
        src="/images/money_loading.gif"
        alt="Loading..."
      />
      <div id="loading-text">번호 뽑는중~~~!</div>
    </div>
  </body>
</html>
